<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="tt" value="https://nuget.pkg.github.com/github-packages-examples/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <t>
            <add key="Username" value="token" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </t>
    </packageSourceCredentials>
</configuration>
