on: [push, repository_dispatch, workflow_dispatch]

env:
  DOTNET_NOLOGO: true
  OWNER: github-packages-examples
  PACKAGE_NAME: nuget-publish
  PACKAGE_VERSION: 1.1.18
  PACKAGE_SOURCE: https://nuget.pkg.github.com/github-packages-examples/index.json

jobs:
  checkout-and-install:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
          
      - name: Create nuget.config
        run: |
          echo '<?xml version="1.0" encoding="utf-8"?>
          <configuration>
              <packageSources>
                  <clear />
                  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
                  <add key="tt" value="https://nuget.pkg.github.com/github-packages-examples/index.json" />
              </packageSources>
              <packageSourceCredentials>
                  <tt>
                      <add key="Username" value="token" />
                      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
                  </tt>
              </packageSourceCredentials>
          </configuration>' > nuget.config

      - name: Add the package${{ env.PACKAGE_VERSION }}
        run: dotnet add . package ${{ env.PACKAGE_NAME }} --version ${{ env.PACKAGE_VERSION }} -s ${{ env.PACKAGE_SOURCE }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run the project
        run: dotnet run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
